name: Go

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6.0.0
        with:
          go-version: ^1.25
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Debug
        run: |
          printenv | sort

      - name: Get dependencies
        run: |
          go get -t ./...

      - name: Test
        run: go test -v ./...
